@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.formulario {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;

   &--post {
      @include m.desktop {
         flex-direction: row;
      }
   }
   
   

   

   

   

   

   &__accion {
      text-align: center;
   }

   
}