@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;

   &--post {
      @include m.desktop {
         flex-direction: row;
      }
   }
   
   &__fieldset {
      all: unset;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
   }

   &__legend {
      font-size: 2rem;
      margin-bottom: 1.8rem;
      font-weight: v.$medium;
      width: 100%;
      text-align: center;
   }

   &__colunm {
      @include m.grid(1, 1.5rem);
  
      @include m.tablet {
         @include m.grid(2, 1.5rem);
      }
   }

   &__row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .5rem;
   }

   &__label {
      font-size: 1.3rem;
      padding-left: .5rem;
      padding-left: 1rem;
   }

   &__input,
   &__select {
      all: unset;
      padding: 1rem;
      border: 1px solid adjust-color(v.$fondo, $lightness: 75%);;
      border-radius: .6rem;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
   }

   &__accion {
      text-align: center;
   }

   &__submit {
      @include m.boton(v.$color, v.$blanco);
      & {
         box-sizing: border-box;
         
         @include m.tablet {
            width: auto;
         }
      }

      &--registrar,
      &--full {
         width: 100%;
      }
   }

   // Post
   &__contenido {
      flex: 1;
      background-color: v.$fondo;
      padding: 2rem;
   }

   &__sidebar {
      width: 35rem;
      
   }

   &__publicar {
      padding: 2rem;
      background-color: v.$fondo;
   }
}