@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.no-transition {
   transition: none !important;
}

.header {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 10;
   padding: 2rem 0;
   background-color: color.adjust(v.$fondo, $lightness: -4%);

   &__contenedor {
      @include m.contenedor;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
   }

   &__logo {
      width: 15rem;

      &--mobil {
         display: none;
      }
   }

   &__nav {
      @include m.desktop {
         display: flex;
         align-items: center;
         gap: 2rem;
      }
   }

   &__menu {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      transform: translate3d(-100%, 0, 0);
      transition: transform .7s cubic-bezier(0.23, 1, 0.32, 1);
      display: flex;
      flex-direction: column;
      width: 80%;
      overflow-y: auto;
      background-color: color.adjust(v.$fondo, $lightness: 5%);
      @include m.lista;
      padding: 3rem;

      @include m.tablet {
         width: 60%;
      }

      @include m.desktop {
         flex-direction: row;
         position: static;
         width: auto;
         background-color: transparent;
         transform: none;
         padding: 0;
         overflow-y: visible;
         box-shadow: none !important;
      }
   }

   &__enlace {
      display: flex;
      font-size: 2rem;
      padding: .5rem 0;
      color: color.adjust(v.$fondo, $lightness: 75%);
      text-transform: uppercase;
      font-weight: v.$medium;

      @include m.desktop {
         padding: 0 1rem;
         font-size: 1.4rem;
      }

      &:hover {
         color: v.$color;
      }
   }

   &__show {

      &::before {
         content: '';
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: rgba(v.$fondo, .9);
         transition: background-color .4s;
         z-index: 1;

         @include m.desktop {
            display: none;
         }
      }

      .header__menu {
         transform: translate3d(0, 0, 0);
         transition-duration: .5s;
         transition-delay: .4s;
         box-shadow: rgba(v.$negro, .3) 0 0 4rem 0.5rem;
      }
   }

   &__mobil {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4rem;
      
      @include m.desktop {
         display: none
      }
   }

   &__open {
      @include m.enlace;
      & {
         font-size: 2.5rem;
      }

      &:hover {
         color: v.$color;
      }

      @include m.desktop {
         display: none;
      }
   }

   &__close {
      @include m.enlace;
      & {
         font-size: 2.5rem;
      }

      &:hover {
         color: v.$color;
      }
   }

   &__redes {
      @include m.desktop {
         display: none;
      }
   }

   &__activo {
      color: v.$color;
   }
}