@use 'base/variables' as v;
@use 'base/mixins' as m;
.categorias {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-bottom: 3rem;

   @include m.desktop {
      justify-content: flex-start;
   }

   &__enlace {
      display: flex;
      justify-content: space-between;
      color: v.$color;
      
      &:hover {
         cursor: pointer;
         color: v.$blanco;
      }
   }

   &__nombre {
      @include m.tecnologia;
   }
}