@use 'variables' as v;

*, *:before, *:after {
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
   height: 100%;
}

body {
   font-family: v.$fuente;
   font-size: 1.5rem;
   line-height: 1.5;
   background-color: v.$fondo;
   color: lighten(v.$fondo, 75%);
}

a {
   text-decoration: none;
}

img {
   width: 100%;
   height: auto;
}