// Fuente
$fuente: "Poppins", sans-serif;

// Estilo de Fuente
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// Colores
$azul: #001A35;
$naranja: #FF5B00;
$negro: #000000;
$blanco: #FFFFFF;
$gris: #F0EEED;
$verde: #00A83A;
$rojo: #FF3244;
$amarillo: #FFC100;

// Media Query
$movil: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;