@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.blogs {
   @include m.contenedor;

   &__flex {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      @include m.desktop {
         flex-direction: row;
      }
   }

   &__contenido {
      flex: 1;
      // background-color: green;
   }

   &__grid {
      @include m.grid(1, 3rem);

      @include m.tablet {
         @include m.grid(2, 3rem);
      }

      &--inicio {
         @include m.desktop {
            @include m.grid(3, 3rem);
         }
      }
   }

   &__item {
      border-radius: 1rem;
      overflow: auto;
      background-color: color.adjust(v.$fondo, $lightness: 1%);

      &:hover {
         background-color: color.adjust(v.$fondo, $lightness: 3%);
         @include m.sombra;
         .blogs__h2 {
            color: v.$color;
         }

         .blogs__texto {
            color: v.$blanco;
         }
      }
   }

   &__imagen {
      border-bottom: .5rem solid v.$color;
   }

   &__info {
      padding: 2rem 3rem;
   }

   &__h2 {
      margin: 0;
      font-size: 2rem;
      text-align: left;
      margin-bottom: 2rem;
      font-weight: v.$semibold;
   }

   &__texto {
      text-align: justify;
   }

   &__boton {
      @include m.boton(v.$color, v.$blanco);
      & {
         text-align: center;
         margin-top: 2rem;
         padding: 1rem 2.2rem;
         text-transform: uppercase;
         font-weight: v.$semibold;
      }

      i {
         margin-right: .5rem;
      }
   }

   &__sidebar {
      width: 100%;
      
      @include m.desktop {
         width: 35rem;
      }
   }

}