@use 'base/variables' as v;
@use 'base/mixins' as m;

.blogs {
   flex: 1;
   
   
   @include m.grid(1, 3rem);

   @include m.desktop {
      @include m.grid(2, 3rem);
   }

   &--inicio {
      @include m.desktop {
         @include m.grid(3, 3rem);
      }
   }

   // @include m.desktop {
   //    @include m.grid(3, 3rem);
   // }

   &__item {
      border-radius: 1rem;
      overflow: auto;
      background-color: adjust-color(v.$fondo, $lightness: 1%);

      &:hover {
         background-color: adjust-color(v.$fondo, $lightness: 3%);
         .blog__h3 {
            color: v.$color;
         }
      }
   }

   &__imagen {
      border-bottom: .5rem solid v.$color;
   }

   &__content {
      // text-align: left;
      padding: 3rem;
   }

   &__h3 {
      margin: 0;
      text-align: left;
      margin-bottom: 2rem;
      // color: v.$blanco;
      font-weight: v.$semibold;
   }

   &__ul {
      @include m.lista;
      display: flex;
      // justify-content: space-between;
      gap: 2rem;
   }

   &__li {
      font-weight: v.$semibold;
      display: flex;
      gap: .7rem;
      align-items: center;

      i {
         color: v.$color;
         font-size: 2rem;
      }
   }

   &__texto {
      text-align: justify;
   }

   &__boton {
      @include m.boton(v.$color, v.$blanco);
      & {
         width: auto;
         margin-top: 2rem;
         padding: 1rem 2.2rem;
         text-transform: uppercase;
         font-weight: v.$semibold;
      }

      i {
         margin-right: .5rem;
      }
   }
}