@use 'base/variables' as v;
@use 'base/mixins' as m;

.contacto {
   @include m.contenedorSM;
   @include m.sombra;
   text-align: center;
   background-color: adjust-color(v.$fondo, $lightness: -5%);
   padding: 4rem 3rem;
   border-radius: 2rem;
}
