@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.herramienta {
   @include m.grid(1, 3rem);

   @include m.desktop {
      @include m.grid(3, 3rem);
   }

   &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: left;

      &:hover {
         .herramienta__div {
            visibility: visible;
            rotate: -5grad;
            transition-duration: .6s;

            @include m.desktop {
               rotate: -6grad;
            }
         }

         .herramienta__contenido {
            background-color: color.adjust(v.$fondo, $lightness: 5%);
         }
      }
   }

   &__div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: v.$color;
      border-radius: 1rem;
      visibility: hidden;
      @include m.sombra;
   }

   &__contenido {
      background-color: color.adjust(v.$fondo, $lightness: 10%);
      padding: 3rem;
      border-radius: 1rem;
      z-index: 1;
      @include m.sombra;
      overflow: auto;
   }

   &__icono {
      font-size: 5rem;
   }
}