@use 'base/variables' as v;
@use 'base/mixins' as m;

.login {
   @include m.contenedorSM;
   @include m.sombra;
   background-color: adjust-color(v.$fondo, $lightness: -5%);
   padding: 4rem 3rem;
   border-radius: 2rem;

   &__titulo {
      text-align: center;
      margin: 0 0 2rem 0;
   }
}