@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {
   margin-top: 4rem;
   margin-bottom: 3rem;
   display: flex;
   gap: .7rem;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   @include m.tablet {
      justify-content: flex-end;
   }

   &__enlace {
      color: v.$color;
      font-size: 1.2rem;

      &--texto {
         padding: .5rem 1rem;
         border-radius: .5rem;
         border: 1px solid v.$color;

         &:hover {
            background-color: v.$color;
            color: v.$blanco;
         }
      }

      &--numero {
         font-weight: v.$bold;
         border: 1px solid v.$color;
         padding: .2rem 1rem;
         border-radius: .5rem;
         display: none;
         @include m.tablet {
            display: inline;
         }

         &:hover {
            background-color: v.$color;
            color: v.$blanco;
         }
      }

      &--actual {
         color: v.$blanco;
         font-size: 1.6rem;
         font-weight: v.$bold;
         display: none;
         @include m.tablet {
            display: inline;
         }
      }
   }
}