@use 'base/variables' as v;
@use 'base/mixins' as m;

.page-name {

   &__contenedor {
      @include m.contenedor;
      padding: 3rem 0;
   }

   &__titulo {
      font-size: 3rem;
      text-align: center;
   }
}