@use 'base/variables' as v;
@use 'sass:color';

.alerta {
   padding: 1rem ;
   font-weight: v.$bold;
   // font-size: 1.4rem;
   margin-bottom: 1.5rem;

   &:last-of-type {
      margin-bottom: 2rem;
   }

   &--error {
      // background-color: rgba(v.$error, .2);
      background-color: color.adjust(v.$error, $lightness: 30%);
      border-left: .5rem solid v.$error;
      color: color.adjust(v.$error, $lightness: -30%);
   }
}