@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu {
   @include m.lista;

   &__item {
      padding: 1.2rem 2rem;
      
      i {
         width: 1.8rem;
         text-align: center;
      }

      &--sub {
         margin-top: 1rem;
         i {
            width: auto;
         }
      }

      &:hover {
         cursor: pointer;
         background-color: adjust-color(v.$color, $lightness: -20%);
         transition: background-color .5s ease;
         color: v.$blanco;

         .menu__enlace {
            color: v.$blanco;
         }
      }
   }

   &__enlace {
      color: adjust-color(v.$fondo, $lightness: 70%);
      font-weight: v.$medium;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
   }

   &__nombre {
      flex-grow: 1;
   }

   &__icono {
      &::after {
         content: "";
         width: .6rem;
         height: .6rem;
         border-bottom: 2px solid v.$blanco;
         border-right: 2px solid v.$blanco;
         rotate: -45grad;
         margin-right: .2rem;
      }
   }

   &__submenu {
      @include m.lista;
      display: none;
      padding-left: 2rem;
      font-size: 1.2rem;
   }

   &__activo {
      background-color: adjust-color(v.$color, $lightness: -20%);

      .menu__enlace {
         color: v.$blanco;
      }

      .menu__submenu {
         display: block;
      }

      .menu__icono {
         &::after {
            rotate: 50grad;
         }
      }
   }

}