@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.sidebar {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   z-index: 2;
   width: 100%;
   overflow: auto;
   transform: translate3d(-100%, 0, 0);
   transition: transform .4s cubic-bezier(0.23, 1, 0.32, 1);

   @include m.desktop {
      position: static;
      width: 25rem;
      transform: translate3d(0, 0, 0);
      transition: width 5s;
      transition-duration: .5s;
   }

   &__div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(v.$negro, .9);
      z-index: -1;

      @include m.desktop {
         display: none;
      }
   }

   &__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80%;
      height: 100%;

      @include m.tablet {
         width: 60%;
      }

      @include m.desktop {
         width: 100%;
      }
   }

   &__header {
      background-color: color.adjust(v.$fondo, $lightness: -3%);
      padding: 2rem;
   }

   &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include m.desktop {
         justify-content: center;
      }
   }

   &__logo {
      width: 10rem;
   }

   &__close {
      @include m.enlace;
      font-size: 2rem;
      color: v.$blanco;

      @include m.desktop {
         visibility: hidden;
      }

      &:hover {
         color: v.$gris;
      }
   }

   &__user {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: v.$medium;

      &--avatar {
         background-color: color.adjust(v.$color, $lightness: -25%);
         color: v.$blanco;
         width: 4rem;
         height: 4rem;
         min-width: 4rem;
         min-height: 4rem;
         font-size: 2rem;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      &--nombre {
         color: v.$blanco;
         display: flex;
         flex-direction: column;
         white-space: nowrap;
         font-size: 1.2rem;
         
         span {
            font-weight: v.$regular;
            font-size: 1rem;
            color: color.adjust(v.$color, $lightness: 10%);
         }
      }

   }

   &__menu {
      flex: 1;
      overflow-y: scroll;
      background-color: v.$fondo;
   }

   &__footer {
      background-color: color.adjust(v.$fondo, $lightness: -3%);
      display: flex;
      justify-content: space-between;
      padding: 2rem;
   }

   &__enlace {
      @include m.enlace;
      color: v.$blanco;
      display: flex;
      align-items: center;
      gap: .7rem;

      &:hover {
         color: v.$gris;
      }
   }

   &__toogle {
      width: 0;
      transform: width .5s;
      transition-duration: .5s;
   }
   
   &__show {
      transform: translate3d(0, 0, 0);
      transition-duration: .7s;
      transition-delay: .4s;
      box-shadow: rgba(v.$negro, .2) 0 0 4rem 0.5rem;
   }
}